/*!
Theme Name: rporter
Author: Stu Freen
Author URI: http://stufreen.com/
Description: Theme created for rporter.
Version: 1.0
License: All rights reserved, copyright 2016.
*/

@import "reset.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400,400italic,700italic,700);
@import "bourbon";
@import "swiper";

/*
 *	Variables
 */
 
$accent: rgb(0, 255, 206);
$body_font_color: #2A2C33;

$max_page: 1400px;
$smallBP: 768px;
$largeBP: 1024px;

$header_font: 'Montserrat', sans-serif;
$body_font: 'PT Serif', serif;

html{
	background-color: black;
}

body{
	font-family: $body_font;
	position: relative;
}

h1, h2, h3{
	font-family: $header_font;
	text-transform: uppercase;
}

#header{
	height: 250px;
	position: relative;
	background-color: #F2F2F2;
	background-size: cover;
	z-index: 0;
	position: relative;

	@media (min-width: $smallBP) {
  		height: 24em;
	}

	.header-inner{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		clip: rect(0, auto, auto, 0);
	}

	section{
		position: fixed;
		top: 125px;
		left: 50%;
		@include transform(translate(-50%, -50%));
		//position: fixed;
		z-index: 0;
		@media (min-width: $smallBP) {
	  		top: 12em;
		}
	}

	#site-title{
		width: 280px;
		margin: 0 auto 0.5em auto;
		@media (min-width: $smallBP) {
	  	width: 30em;
	  	margin: 0 auto 1.5 auto;
		}
	}

	#site-subtitle{
		width: 100px;
		margin: 0 auto;
		@media (min-width: $smallBP) {
	  	width: 9em;
		}
	}

	#site-title, #site-subtitle{
		opacity: 0.8;
		display: block;
	}
}

section#work{
	background-color: white;
	color: #335;
	padding: 0 5%;
	z-index: 1;

	@media (min-width: $smallBP) {
  	padding: 0 4em;
	}

	div.wrap{
		max-width: $max_page;
		margin: 0 auto;
		padding: 40px 0 40px 0;
		@include clearfix;
		@media (min-width: $smallBP) {
	  	padding: 4em 0 4em 0;
		}
	}

	h2{
		font-size: 1.4em;
		font-weight: normal;
		text-align: center;
		@media (min-width: $smallBP) {
	  	font-size: 1.7em;
		}
	}

	div.work-item{
		margin-top: 40px;

		@media (min-width: $smallBP) {
	  		width: 33.333%;
			float: left;
			margin-top: 4em;
		}

		div.work-wrap{
			max-width: 400px;
			margin: 0 auto;
			cursor: pointer;

			@media (min-width: $smallBP) {
		  		max-width: 300px;
			}

			&:hover{
				opacity: 0.8;
			}
		}

		div.work-pic{
			width: 100%;
			height: 200px;
			position: relative;
		}

		img{
			max-height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			filter: drop-shadow(0 0 1em rgba(0,0,0,0.15));
		}

		h3{
			text-align: center;
			font-size: 1em;
			font-weight: bold;
			margin: 1em;
		}

		p{
			color: white;
			line-height: 1.3em;
			margin-bottom: 0.8em
		}
	}

	.swiper-pagination{
		position: relative;
		margin-top: 1em;
		@media (min-width: $smallBP) {
	  	margin-top: 2.5em;
		}
		@media (min-width: $largeBP) {
	  	margin-top: 4em;
		}
	}

	.swiper-pagination-bullet{
		background-color: #DDD;
		width: 8px;
		height: 8px;
		margin: 0 10px;
		opacity: 1;
		transition: background-color 0.2s;

		&.swiper-pagination-bullet-active{
			background-color: #39F;
			opacity: 1;
		}
	}

	
}

.swiper-container{
	div.work-item{
		width: 100% !important;
		float: inherit !important;
	}
}

#footer{
	background-color: $body_font_color;
	// background-image: url('images/desert.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: white;
	padding: 5%;
	z-index: 1;

	@media (min-width: $smallBP) {
  	padding: 0 7em;
	}

	.wrap{
		max-width: $max_page;
		margin: 0 auto;
		padding: 35px 0;
		@include clearfix;

		@media (min-width: $smallBP) {
	  	padding: 7em 0;
		}
	}
}

.footer-info{
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 0 auto 1.5em auto;

	@media (min-width: $largeBP) {
  	float: left;
  	width: 40%;
  	max-width: 300px;
	}

	img{
		display: block;
	}

	img#robin-porter{
		width: 100%;
		margin-bottom: 1.5em;
		@media (min-width: $smallBP) {
	  	float: left;
		}
	}

	img#copywriter{
		height: 1em;
		margin-bottom: 0.5em;
		@media (min-width: $smallBP) {
	  	height: 1.4em;
		}
	}

	img#toronto{
		height: 0.9em;
		@media (min-width: $smallBP) {
	  	height: 1.2em;
		}
	}

	svg{
		float: right;
		height: 37px;
		@media (min-width: $smallBP) {
	  	height: 50px;
		}

		path{
			@include transition(fill 0.2s);
		}

		&:hover{
			*{
				fill: darken($accent, 10%);
			}
		}
	}
}

.contact-form{
	width: 100%;
	display: block;

	.show-errors input[type=text].ng-invalid, .show-errors input[type=email].ng-invalid, .show-errors textarea.ng-invalid {
		-moz-box-shadow:    inset 0 0 0 3px darken($accent, 25%);
		-webkit-box-shadow: inset 0 0 0 3px darken($accent, 25%);
		box-shadow:         inset 0 0 0 3px darken($accent, 25%);
	}

	@media (min-width: $largeBP) {
  	width: 60%;
  	max-width: 650px;
  	float: right;
	}

	h3{
		font-size: 1.3em;
		text-align: center;
		padding: 2em 0 1em 0;
		letter-spacing: 0.1em;
		color: $accent;

		@media (min-width: $largeBP) {
	  	padding: 0 0 1em 0;
		}
	}

	label{
		display: block;
		width: 100%;
		margin-bottom: 1em;

		span{
			padding-bottom: 10px;
			padding-top: 10px;
			padding-right: 20px;
			text-align: right;
			font-family: $header_font;
			text-transform: uppercase;
			box-sizing: border-box;
			letter-spacing: 0.1em;
			font-size: 0.75em;

			@media (min-width: $largeBP) {
		  	float: left;
				width: 30%;
			}
		}

		input, textarea{
			width: 100%;
			box-sizing: border-box;
			background-color: rgba(0,0,0,0.5);
			border: none;
			padding: 4px 8px;
			font-size: 15px;
			color: white;
			font-family: $header_font;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			-ms-appearance: none;
			margin-top: 0.3em;
			overflow: auto;
			@include transition(box-shadow 0.5s ease-in-out);

			@media (min-width: $smallBP) {
		  	padding: 10px;
				font-size: 18px;
			}

			@media (min-width: $largeBP) {
		  	width: 70%;
			}
		}

		textarea{
			height: 200px;
		}
	}

	input[type=submit]{
		width: 100%;
		background-color: rgba(0,0,0,0);
		border: 2px solid $accent;
		padding: 0.7em 3em;
		color: $accent;
		text-transform: uppercase;
		cursor: pointer;
		font-family: $header_font;
		font-size: 18px;
		letter-spacing: 0.1em;
		@include transition(all 0.2s);
		-webkit-appearance: none;
  	-webkit-border-radius: 0;
  	border-radius: 0;

		@media (min-width: $smallBP) {
	  	float: right;
	  	width: auto;
		}

		&:hover{
			background-color: $accent;
			color: black;
		}
	}
}

div#lightbox{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	cursor: pointer;
}

div#modal{
	position: absolute;
	width: 95%;
	top: 50%;
	box-sizing: border-box;
	left: 50%;
	z-index: 101;
	@include transform(translate(-50%, -50%));
	background-color: white;
	border-radius: 0;
	padding: 10px 10px 20px 10px;

	@media (min-width: $smallBP) {
  	width: 70%;
  	max-width: 800px;
		top: 15vh;
		padding: 20px 20px 30px 20px;
	}
	@media (min-width: $largeBP) {
		padding: 25px 25px 35px 25px;
	}

	.closer{
		svg{
			width: 1em;
			height: 1em;
			position: absolute;
			right: 0;
			top: -1.2em;
			opacity: 0.8;
			cursor: pointer;
			@include transition(all 0.2s);

			@media (min-width: $smallBP) {
		  	width: 1.5em;
				height: 1.5em;
				right: -1.7em;
				top: -1.7em;
			}

			*{
				fill: white;
			}

			&:hover{
				opacity: 1;
			}

			&:active{
				opacity: 0.5;
				@include transition(all 0s);
			}
		}
	}

	.media-img-container{
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	h2{
		font-size: 1.3em;
		margin: 1em 0 0.5em 0;
		@media (min-width: $smallBP) {
	  	font-size: 2em;
		}
	}

	h3{
		font-size: 0.95em;
		margin-bottom: 1em;
		@media (min-width: $smallBP) {
	  	font-size: 1.2em;
		}
	}

	p{
		font-size: 0.9em;
		line-height: 1.3em;
		margin-bottom: 0.8em;
		@media (min-width: $smallBP) {
	  	font-size: 1em;
		}

		&:last-of-type{
			margin-bottom: 0.4em;
		}
	}

	.media-container{
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
	}

	iframe{
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}

	.swiper-modal-pagination{
		position: relative;
		text-align: center;
		margin: 2em auto;
	}

	.swiper-pagination-bullet{
		background-color: #DDD;
		width: 8px;
		height: 8px;
		margin: 0 10px;
		opacity: 1;
		transition: background-color 0.2s;

		&.swiper-pagination-bullet-active{
			background-color: #39F;
			opacity: 1;
		}
	}
}

#contact-confirm-modal{
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: black;
	border: 2px solid $accent;
	color: $accent;
	padding: 3em;
	@include transform(translate(-50%, -50%));
	z-index: 101;

	h3{
		font-size: 1.5em;
		margin-bottom: 1em;
		text-align: center;
		letter-spacing: 0.1em;
	}

	p{
		font-family: $header_font;
		font-size: 1.1em;
		line-height: 1.3em;
	}

	h4{
		font-size: 1.3em;
		margin: 1em auto 0 auto;
		text-align: center;
		letter-spacing: 0.1em;
		font-family: $header_font;
		a{
			color: $accent;
			text-decoration: none;
			@include transition(color 0.2s);

			&:hover{
				color: darken($accent, 10%);
			}
		}
	}
}

#lightbox, #modal, #contact-confirm-modal{
	@include transition(opacity 0.5s);

	&.show{
		display: block;
		opacity: 1;
	}

	&.invisible{
		display: block;
		opacity: 0;
	}

	&.hide{
		display: none;
		opacity: 0;
	}
}